<div class="consult-scheduling-container">
  <h2>Lista de Agendamentos</h2>

  <!-- Filtros e Busca -->
  <div class="filter-section">
    <!-- Campo de busca por CPF do Cliente -->
    <div class="form-group name-search">
      <label for="cpfFilter">Buscar por CPF do Cliente</label>
      <div class="input-with-icon">
        <input id="cpfFilter" type="text" [(ngModel)]="cpfFilter" placeholder="Digite o CPF" mask="000.000.000-00">
        <button class="btn-icon" (click)="applyCpfFilter()" matTooltip="Buscar agendamento por CPF">
          <mat-icon class="mat-18">search</mat-icon>
        </button>
      </div>
    </div>

    <!-- Filtro de Status -->
    <div class="form-group">
      <label for="statusFilter">Filtrar por Status:</label>
      <select [(ngModel)]="statusFilter" (change)="applyFilter()">
        <option value="all">Todos</option>
        <option value="AGENDADO">Agendado</option>
        <option value="EM_ANDAMENTO">Em andamento</option>
        <option value="CONCLUIDO">Concluído</option>
        <option value="CANCELADO">Cancelado</option>
      </select>
    </div>

    <!-- Ordenar por -->
    <div class="form-group">
      <label for="sortOrder">Ordenar por:</label>
      <select id="sortOrder" [(ngModel)]="sortOrder" (change)="applySort()">
        <option value="date">Data</option>
        <option value="time">Hora</option>
        <option value="clientName">Nome do Cliente (A-Z)</option>
      </select>
    </div>
  </div>

  <div *ngIf="loading" class="loading-container">
    <mat-progress-spinner
      class="loading-spinner"
      [diameter]="50"
      mode="indeterminate">
    </mat-progress-spinner>
    <p>Carregando dados...</p>
  </div>

  <!-- Tabela de agendamentos -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Nome do Cliente -->
    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef> Nome do Cliente </th>
      <td mat-cell *matCellDef="let scheduling"> {{ scheduling.pet.client.name }} </td>
    </ng-container>

    <!-- Nome do Pet -->
    <ng-container matColumnDef="petName">
      <th mat-header-cell *matHeaderCellDef> Nome do Pet </th>
      <td mat-cell *matCellDef="let scheduling"> {{ scheduling.pet.name || 'N/A' }} </td>
    </ng-container>

    <!-- Serviço -->
    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef> Serviço(s) </th>
      <td mat-cell *matCellDef="let scheduling">
        <ng-container *ngIf="scheduling.service && scheduling.service.length > 0; else noService">
          <ul>
            <li *ngFor="let service of scheduling.service">{{ service.name }}</li>
          </ul>
        </ng-container>
        <ng-template #noService>
          Nenhum serviço
        </ng-template>
      </td>
    </ng-container>

    <!-- Valor Total -->
    <ng-container matColumnDef="totalValue">
      <th mat-header-cell *matHeaderCellDef> Valor Total </th>
      <td mat-cell *matCellDef="let scheduling">
        {{ scheduling.totalValue | currency:'BRL':'symbol':'1.2-2' }}
      </td>
    </ng-container>

    <!-- Data -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let scheduling"> {{ scheduling.date | date: 'dd/MM/yyyy' }} </td>
    </ng-container>

    <!-- Hora -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Hora </th>
      <td mat-cell *matCellDef="let scheduling"> {{ scheduling.time }} </td>
    </ng-container>

    <!-- Coluna de Pagamento -->
    <ng-container matColumnDef="paymentMethod">
      <th mat-header-cell *matHeaderCellDef> Pagamento </th>
      <td mat-cell *matCellDef="let scheduling">
        {{ formatPaymentMethod(scheduling.paymentMethod) }}
      </td>
    </ng-container>

    <!-- Coluna de Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let scheduling">
        <mat-radio-group [(ngModel)]="scheduling.statusScheduling" (change)="update(scheduling)"
          [disabled]="scheduling.statusScheduling === 'CONCLUIDO' || scheduling.statusScheduling === 'CANCELADO'">
          <mat-radio-button value="AGENDADO" matTooltip="Marcar como agendado">AGENDADO</mat-radio-button>
          <mat-radio-button value="EM_ANDAMENTO" matTooltip="Marcar como em andamento">EM ANDAMENTO</mat-radio-button>
          <mat-radio-button value="CONCLUIDO" matTooltip="Marcar como concluído">CONCLUÍDO</mat-radio-button>
          <mat-radio-button value="CANCELADO" matTooltip="Marcar como cancelado">CANCELADO</mat-radio-button>
        </mat-radio-group>
      </td>
    </ng-container>

    <!-- Botão de Ação: Editar -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let scheduling">
        <button (click)="openEditModal(scheduling)"
          [disabled]="scheduling.statusScheduling === 'CONCLUIDO' || scheduling.statusScheduling === 'CANCELADO'"
          class="btn-icon-open" matTooltip="Alterar pagamento">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Cabeçalhos da Tabela -->
    <tr mat-header-row
      *matHeaderRowDef="['clientName', 'petName', 'service', 'totalValue', 'date', 'time', 'paymentMethod', 'status', 'action']">
    </tr>
    <!-- Linhas da Tabela -->
    <tr mat-row
      *matRowDef="let row; columns: ['clientName', 'petName', 'service', 'totalValue', 'date', 'time', 'paymentMethod', 'status', 'action']">
    </tr>
  </table>

  <!-- Paginação -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <!-- Mensagem caso não haja agendamentos -->
  <div *ngIf="!loading && filteredSchedulings.length === 0">Nenhum agendamento encontrado.</div>
</div>
