<header class="navbar">
  <span class="app-name">Petgroomer</span>
  <nav class="navbar-menu">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active"><mat-icon>home</mat-icon><span>Home</span></a></li>
      <li><a routerLink="/about" routerLinkActive="active"><mat-icon>info</mat-icon><span>Sobre</span></a></li>
      <li><a routerLink="/register" routerLinkActive="active"><mat-icon>person_add</mat-icon><span>Cadastre-se</span></a></li>
      <li><a routerLink="/login" routerLinkActive="active"><mat-icon>login</mat-icon><span>Login</span></a></li>
    </ul>
  </nav>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  © 2024 Petgroomer - Todos os direitos reservados.
</footer>
