.report-invoicing-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .filter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    .form-group {
      flex: 1 1 20%;
      margin: 10px 30px;

      label {
        color: #555;
        display: block;
        margin-bottom: 8px;
      }

      input,
      mat-select{
        width: 100%;
        padding: 12px;
        border: 1px solid #007bff;
        border-radius: 4px;
        transition: border-color 0.3s;
        background-color: #fff;


        &:focus,
        &.mat-focused .mat-form-field-outline {
          border-color: #0056b3;
          outline: none;
        }
      }

      mat-select {
        padding: 9px;
      }
    }
  }

  .export-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
      background-color: #28a745;
      color: #fff;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      margin: 0 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #1e7e34;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th {
      background-color: #3f51b5;
      color: #fff;
      padding: 10px;
      text-align: left;
      border-bottom: 2px solid #0056b3;
    }

    td {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      background-color: #fff;

      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  .no-data-message {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #777;
  }
}

/* Estilo para o botão de filtro */
.btn-filter {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 30px;

  &:hover {
    background-color: #218838;
  }

  &:active {
    background-color: #1e7e34;
    transform: scale(0.95);
  }

  &:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
}
