.consult-pet-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Organizando seções do formulário */
.form-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-section {
  flex: 1;
  margin-bottom: 15px;
  margin-right: 20px;
}

.form-section label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-icon mat-icon.leading-icon {
  margin-right: 5px;
}

.input-with-icon input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.btn-icon {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 8px;
  right: 37px;
  bottom: 5px;
  &:hover {
    transform: scale(1.05);
  }
}

.btn-icon mat-icon {
  color: #333;
  font-size: 24px;
}
.btn-icon:hover mat-icon {
  color: #007bff;
  transition: color 0.2s ease;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

ul li:hover {
  background-color: #f1f1f1;
}

/* Seção de campos inline (nome do pet, raça, porte) */
.inline-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.field {
  flex: 1;
  margin-bottom: 15px;
}

.field select, .field input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Botão de salvar, ocupa toda a largura disponível */
.btn-save {
  background-color: #28a745;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.btn-save:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.spinner-border {
  margin-right: 5px;
}

h3 {
  margin-top: 10px;
  font-size: 18px;

}
h2{
  font-weight: bold;
}

input[type="checkbox"] {
  margin-left: 10px;
}


#cpf {
  max-width: 200px; /* Define um tamanho menor para o campo CPF */
  margin-bottom: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
  .inline-fields {
    flex-direction: column; /* Campos ficam em coluna em telas menores */
  }

  .form-sections {
    flex-direction: column; /* Coloca as seções do formulário em coluna */
  }

  .field, .form-section {
    margin-right: 0; /* Remove a margem lateral em telas menores */
  }
}

