<div *ngIf="loading" class="global-spinner-container">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div class="consult-pet-container">
  <h2>Pets</h2>
  <form [formGroup]="petForm" (ngSubmit)="atualizarPet()">

    <!-- Pets Relacionados -->
    <div class="form-section">
      <h3>Aqui estão seus Pets:</h3>
      <ul>
        <li *ngFor="let pet of pets" (click)="selecionarPet(pet)">
          <mat-icon>pets</mat-icon> {{ pet.name }} ({{ pet.race }} - {{ pet.size }})
        </li>
      </ul>
    </div>

    <!-- Seção de Edição de Pet -->
    <div class="form-sections" *ngIf="selectedPet">
      <h3>Edição de Pet</h3>
      <div class="inline-fields">
        <div class="form-section field">
          <label for="name">Nome do Pet:</label>
          <div class="input-with-icon">
            <input id="name" formControlName="name" type="text" placeholder="Digite o nome do pet">
          </div>
        </div>

        <div class="form-section field">
          <label for="race">Raça:</label>
          <div class="input-with-icon">
            <select id="race" formControlName="race">
              <option *ngFor="let race of races" [value]="race">{{ race }}</option>
            </select>
          </div>
        </div>

        <div class="form-section field">
          <label for="size">Porte:</label>
          <div class="input-with-icon">
            <select id="size" formControlName="size">
              <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Exibição do Status do Pet -->
      <div class="form-section">
        <label>Status:</label>
        <mat-slide-toggle formControlName="active">
          {{ petForm.get('active')?.value ? 'Ativo' : 'Desativado' }}
        </mat-slide-toggle>
      </div>

      <!-- Botão de Atualizar -->
      <button type="submit" class="btn-save" [disabled]= "petForm.invalid">
        Atualizar Pet
      </button>
    </div>
  </form>
</div>
