.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
}

.spacer {
  flex: 1 1 auto;
}

.mobile-menu-button {
  display: none;
}

@media (max-width: 768px) {
  .menu-buttons {
    display: none;
  }

  .mobile-menu-button {
    display: inline-flex;
  }
}
.dropdown-button {
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 4px;
  }
}

@media (max-width: 600px) {
  .menu-buttons {
    display: none;
  }
  .mobile-menu-button {
    display: block;
  }
}

/* Estilo para o rodapé */
.footer {
  text-align: center; 
  padding: 16px 0; 
  bottom: 0;
  position:relative;
  width: 100%;
  font-size: 14px;
}

.signature {
  color: inherit;
}
