<mat-toolbar color="primary" class="toolbar">
  <!-- Botão de menu (esquerda) -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-list-button">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Espaçador central -->
  <span class="spacer"></span>

  <!-- Nome do sistema (direita) -->
  <span class="app-name">Petgroomer</span>

  <!-- Definição do Menu -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/agenda">
      <mat-icon>home</mat-icon> Início
    </button>

    <!-- Cliente -->
    <button mat-menu-item [matMenuTriggerFor]="subMenuCliente">
      <mat-icon>person</mat-icon> Cliente
    </button>
    <mat-menu #subMenuCliente="matMenu">
      <button mat-menu-item routerLink="/registerClient">
        <mat-icon>person_add</mat-icon> Cadastro Cliente
      </button>
      <button mat-menu-item routerLink="/consultClient">
        <mat-icon>search</mat-icon> Consulta Cliente
      </button>
    </mat-menu>

    <!-- Funcionário -->
    <button mat-menu-item [matMenuTriggerFor]="subMenuFuncionario">
      <mat-icon>work</mat-icon> Funcionário
    </button>
    <mat-menu #subMenuFuncionario="matMenu">
      <button mat-menu-item routerLink="/registerEmployee">
        <mat-icon>person_add</mat-icon> Cadastro Funcionário
      </button>
      <button mat-menu-item routerLink="/consultEmployee">
        <mat-icon>search</mat-icon> Consulta Funcionário
      </button>
    </mat-menu>

    <!-- Pet -->
    <button mat-menu-item [matMenuTriggerFor]="subMenuPet">
      <mat-icon>pets</mat-icon> Pet
    </button>
    <mat-menu #subMenuPet="matMenu">
      <button mat-menu-item routerLink="/registerPet">
        <mat-icon>add_circle</mat-icon> Cadastro Pet
      </button>
      <button mat-menu-item routerLink="/consultPet">
        <mat-icon>search</mat-icon> Consulta Pet
      </button>
    </mat-menu>

    <!-- Serviço -->
    <button mat-menu-item [matMenuTriggerFor]="subMenuService">
      <mat-icon>build_circle</mat-icon> Serviço
    </button>
    <mat-menu #subMenuService="matMenu">
      <button mat-menu-item routerLink="/registerService">
        <mat-icon>add_circle</mat-icon> Cadastro Serviço
      </button>
      <button mat-menu-item routerLink="/listService">
        <mat-icon>search</mat-icon> Consulta Serviço
      </button>
    </mat-menu>
       <!-- Serviço -->
       <button mat-menu-item [matMenuTriggerFor]="subMenuScheduling">
        <mat-icon>calendar_today</mat-icon> Angendamento
      </button>
      <mat-menu #subMenuScheduling="matMenu">
        <button mat-menu-item routerLink="/scheduling">
          <mat-icon>add_circle</mat-icon>angendar
        </button>
        <button mat-menu-item routerLink="/listScheduling">
          <mat-icon>search</mat-icon> Consultar Agendamento
        </button>
      </mat-menu>
    <!-- Administrativo -->
    <button mat-menu-item [matMenuTriggerFor]="subMenuAdministrativo">
      <mat-icon>admin_panel_settings</mat-icon> Administrativo
    </button>
    <mat-menu #subMenuAdministrativo="matMenu">
      <button mat-menu-item routerLink="/users">
        <mat-icon>people</mat-icon> Usuários
      </button>
      <button mat-menu-item routerLink="/administrativo/configuracoes">
        <mat-icon>settings</mat-icon> Configurações
      </button>
    </mat-menu>

    <!-- Relatórios -->
    <button mat-menu-item [matMenuTriggerFor]="subMenuRelatorios">
      <mat-icon>report</mat-icon> Relatórios
    </button>
    <mat-menu #subMenuRelatorios="matMenu">
      <button mat-menu-item routerLink="/comission">
        <mat-icon>receipt</mat-icon> Comissão
      </button>
      <button mat-menu-item routerLink="/relatorios/operacionais">
        <mat-icon>assessment</mat-icon> Operacionais
      </button>
    </mat-menu>

    <!-- Sair -->
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> Sair
    </button>
  </mat-menu>
</mat-toolbar>

<!-- Conteúdo principal -->
<router-outlet></router-outlet>

<!-- Rodapé -->
<footer class="footer">
  <span class="signature">© 2024 Petgroomer - Todos os direitos reservados.</span>
</footer>
