.register-scheduling-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    mat-icon {
      margin-right: 8px;
      color: black;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .form-sections {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;

      .form-section {
        flex: 1;
        min-width: 350px;
        margin: 0 10px;

        h3 {
          margin-bottom: 10px;
        }
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        color: #333;
        margin-bottom: 5px;
      }

      input,
      select,
      textarea {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        transition: border-color 0.3s;

        &:focus {
          border-color: #66afe9;
          box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
        }
      }

      .input-with-icon {
        position: relative;
        display: flex;
        align-items: center;

        input,
        select {
          padding-right: 45px;
        }

        .btn-icon {
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          background: transparent;
          border: none;
          cursor: pointer;
          mat-icon {
            color: #666;
            font-size: 20px;
          }

          &:hover mat-icon {
            color: #007bff;
          }
        }
      }

      .has-error input,
      .has-error select {
        border-color: #e74c3c;
      }

      .error-message {
        font-size: 12px;
        color: #e74c3c;
        margin-top: 5px;
      }
    }

    .btn-save,
    .btn-add {
      background-color: #28a745;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 20px;
      width: 100%;

      &:hover {
        background-color: #218838;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    .btn-remove {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: inline;
      align-items: center;
      transition: transform 0.3s;

      mat-icon {
        color: #e74c3c;
        font-size: 24px;
        transition: color 0.3s;

        &:hover {
          color: #c0392b;
        }
      }

      &:hover {
        transform: scale(1.1);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .cart-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;

    .cart-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;

      &:last-child {
        border-bottom: none;
      }

      span {
        font-size: 16px;
      }
    }

    .no-services-message {
      font-size: 14px;
      color: #999;
      text-align: center;
    }

    .total-amount {
      margin-top: 10px;
      text-align: right;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 768px) {
    .form-sections {
      flex-direction: column;
      align-items: stretch;
    }

    .form-section {
      min-width: 100%;
      margin: 0;
    }

    .btn-save,
    .btn-add {
      padding: 12px;
      font-size: 18px;
    }
  }
}
/* Ajustes para dispositivos móveis (telas pequenas) */
@media screen and (max-width: 600px) {
  .register-scheduling-container {
    max-width: 80%;
    padding: 15px;
    box-sizing: border-box;
  }
  h3{
    font-size: 1.2em;
    width: 50%;
  }
  h2 {
    font-size: 20px;
  }

  .form-sections {
    flex-direction: column;
    gap: 10px;
  }

  .form-section {
    width: 40%;
    margin: 0;
    box-sizing: border-box;
  }

  .form-group {
    width: 60%;
    box-sizing: border-box;
  }

  input,
  select,
  textarea {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
  }

  .input-with-icon {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .input-with-icon mat-icon {
    margin-bottom: 5px;
  }

  .btn-add,
  .btn-save {
    width: 70%;
    padding: 12px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .cart-container {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 30%;
    box-sizing: border-box;
  }

  .total-amount {
    text-align: left;
    font-size: 16px;
    margin-top: 10px;
  }
}
