<mat-toolbar color="primary" class="toolbar">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-name">Petgroomer</span>
  <span class="spacer"></span>
  <span class="client-name">{{ clientName }}</span>
  <button mat-icon-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div class="menu-container">
  <!-- Menu em lista -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/clientHome">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-menu-item routerLink="/clientPetRegister">
      <mat-icon>pets</mat-icon>
      <span>Cadastrar Pet</span>
    </button>
    <button mat-menu-item routerLink="/listPet">
      <mat-icon>search</mat-icon>
      <span>Meus Pets</span>
    </button>
    <button mat-menu-item routerLink="/clientScheduling">
      <mat-icon>schedule</mat-icon>
      <span>Agendar</span>
    </button>
    <button mat-menu-item routerLink="/listSchedulingClient">
      <mat-icon>list</mat-icon>
      <span>Meus Agendamentos</span>
    </button>
    <button mat-menu-item routerLink="/userAccount">
      <mat-icon>persona</mat-icon>
      <span>Conta</span>
    </button>

  </mat-menu>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
  <footer class="footer">
    <span class="signature">© 2024 Petgroomer - Todos os direitos reservados.</span>
  </footer>
</div>
