<div class="register-pet-container">
  <h1>Cadastro de Pet</h1>
    <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
        <div class="form-sections">

            <!-- Seção de Busca de Cliente -->
            <div class="form-section">
                <h3>Buscar Cliente</h3>

                <div class="form-group"
                    [ngClass]="{'has-error': petForm.get('cpf')?.touched && petForm.get('cpf')?.invalid}">
                    <label for="cpf">CPF do Cliente</label>
                    <div class="input-with-icon">
                      <input id="cpf" formControlName="cpf" type="text" placeholder="Digite o CPF" mask="000.000.000-00">
                      <!-- Lupa dentro do campo -->
                      <button type="button" class="btn-icon" (click)="searchClientByCpf()" matTooltip="Consultar Dono do pet">
                        <mat-icon>search</mat-icon>
                      </button>
                    </div>
                    <div *ngIf="petForm.get('cpf')?.touched && petForm.get('cpf')?.invalid" class="error-message">
                        CPF é obrigatório.
                    </div>
                </div>

                <!-- Nome do Cliente (Preenchido automaticamente após busca) -->
                <div class="form-group">
                    <label for="clientName">Nome do Cliente</label>
                    <input id="clientName" formControlName="clientName" type="text" isdisabled>
                </div>
            </div>

            <!-- Seção de Informações do Pet -->
            <div class="form-section">
                <h3>Informações do Pet</h3>

                <!-- Nome do Pet -->
                <div class="form-group"
                    [ngClass]="{'has-error': petForm.get('name')?.touched && petForm.get('name')?.invalid}">
                    <label for="name">Nome do Pet <span class="required">*</span></label>
                    <input id="name" formControlName="name" type="text" placeholder="Nome do Pet">
                    <div *ngIf="petForm.get('name')?.touched && petForm.get('name')?.invalid" class="error-message">
                        Nome do pet é obrigatório.
                    </div>
                </div>

                <!-- Raça -->
                <div class="form-group"
                    [ngClass]="{'has-error': petForm.get('race')?.touched && petForm.get('race')?.invalid}">
                    <label for="race">Raça <span class="required">*</span></label>
                    <select id="race" formControlName="race">
                        <option *ngFor="let race of races" [value]="race">{{ race }}</option>
                    </select>
                    <div *ngIf="petForm.get('race')?.touched && petForm.get('race')?.invalid" class="error-message">
                        Raça é obrigatória.
                    </div>
                </div>

                <!-- Porte -->
                <div class="form-group"
                    [ngClass]="{'has-error': petForm.get('size')?.touched && petForm.get('size')?.invalid}">
                    <label for="size">Porte <span class="required">*</span></label>
                    <select id="size" formControlName="size">
                        <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
                    </select>
                    <div *ngIf="petForm.get('size')?.touched && petForm.get('size')?.invalid" class="error-message">
                        Porte é obrigatório.
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn-save" [disabled]="petForm.invalid">Cadastrar Pet</button>
    </form>
</div>
