// Estilização geral do formulário
form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1200px; // Aumentar a largura máxima para acomodar três seções
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
    // Container para as três seções
    .form-container {
      display: flex;
      gap: 16px; // Espaçamento entre as seções
      flex-wrap: wrap; // Permitir quebra de linha em telas pequenas
  
      .form-section {
        flex: 1; // As seções ocupam igualmente o espaço disponível
        display: flex;
        flex-direction: column;
        gap: 16px;
  
        // Ajuste para responsividade
        &:first-child {
          min-width: 250px; // Largura mínima para a primeira seção
        }
  
        &:nth-child(2) {
          min-width: 250px; // Largura mínima para a segunda seção
        }
  
        &:last-child {
          min-width: 250px; // Largura mínima para a terceira seção
        }
      }
    }
  
    // Estilização do botão
    button {
      align-self: flex-end;
    }
  
    // Estilização do mat-slide-toggle
    mat-slide-toggle {
      margin-top: 16px;
    }
  }
  
  // Adicionar espaçamento entre os campos
  .mat-form-field {
    margin-bottom: 16px;
  }
  
  // Estilizar o label
  .mat-label {
    font-size: 14px;
    color: #333;
  }
  
  // Estilizar a borda do campo
  .mat-form-field-underline {
    border-bottom: 1px solid #ccc;
  }
  
  // Adicionar um efeito de foco
  .mat-form-field-underline.mat-focused {
    border-bottom: 2px solid #3f51b5; // Cor do tema primário do Angular Material
  }
  
  // Estilizar o botão primário
  button.mat-raised-button {
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
  }
  
  header{
    font-size: large;
  }