<div *ngIf="loading" class="global-spinner-container">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div class="register-pet-container">
  <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
    <div class="form-sections">
      <!-- Seção de Informações do Pet -->
      <div class="form-section">
        <h3>Registrar meu Pet</h3>

        <!-- Nome do Pet -->
        <div class="form-group" [ngClass]="{'has-error': petForm.get('name')?.touched && petForm.get('name')?.invalid}">
          <label for="name">Nome do Pet <span class="required">*</span></label>
          <div class="input-with-icon">
            <mat-icon class="leading-icon">pets</mat-icon>
            <input id="name" formControlName="name" type="text" placeholder="Nome do Pet">
          </div>
          <div *ngIf="petForm.get('name')?.touched && petForm.get('name')?.invalid" class="error-message">
            Nome do pet é obrigatório.
          </div>
        </div>

        <!-- Raça -->
        <div class="form-group" [ngClass]="{'has-error': petForm.get('race')?.touched && petForm.get('race')?.invalid}">
          <label for="race">Raça <span class="required">*</span></label>
          <div class="input-with-icon">
            <mat-icon class="leading-icon">pets</mat-icon>
            <select id="race" formControlName="race">
              <option *ngFor="let race of races" [value]="race">{{ race }}</option>
            </select>
          </div>
          <div *ngIf="petForm.get('race')?.touched && petForm.get('race')?.invalid" class="error-message">
            Raça é obrigatória.
          </div>
        </div>

        <!-- Porte -->
        <div class="form-group" [ngClass]="{'has-error': petForm.get('size')?.touched && petForm.get('size')?.invalid}">
          <label for="size">Porte <span class="required">*</span></label>
          <div class="input-with-icon">
            <mat-icon class="leading-icon">height</mat-icon>
            <select id="size" formControlName="size">
              <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
            </select>
          </div>
          <div *ngIf="petForm.get('size')?.touched && petForm.get('size')?.invalid" class="error-message">
            Porte é obrigatório.
          </div>
        </div>
      </div>

      <!-- Botão para Submeter -->
      <button type="submit" class="btn-save" [disabled]="petForm.invalid">
        Cadastrar Pet
      </button>
    </div>
  </form>
</div>
