<div class="change-password-container">
  <h2>Alterar Senha</h2>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <!-- Senha atual -->
    <div class="form-group">
      <label for="oldPassword">Senha Atual</label>
      <div class="input-with-icon">
        <mat-icon class="leading-icon">lock</mat-icon>
        <input id="oldPassword" formControlName="oldPassword" type="password" placeholder="Digite sua senha atual">
      </div>
      <div *ngIf="passwordForm.get('oldPassword')?.touched && passwordForm.get('oldPassword')?.invalid" class="error-message">
        A senha atual é obrigatória.
      </div>
    </div>

    <!-- Nova senha -->
    <div class="form-group">
      <label for="newPassword">Nova Senha</label>
      <div class="input-with-icon">
        <mat-icon class="leading-icon">vpn_key</mat-icon>
        <input id="newPassword" formControlName="newPassword" type="password" placeholder="Digite a nova senha">
      </div>
      <div *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.invalid" class="error-message">
        A nova senha é obrigatória.
      </div>
    </div>

    <!-- Confirmação da nova senha -->
    <div class="form-group">
      <label for="confirmPassword">Confirmar Nova Senha</label>
      <div class="input-with-icon">
        <mat-icon class="leading-icon">check_circle</mat-icon>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirme a nova senha">
      </div>
      <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid" class="error-message">
        A confirmação da senha é obrigatória.
      </div>
      <div *ngIf="passwordForm.errors?.['passwordMismatch']" class="error-message">
        As senhas não correspondem.
      </div>
    </div>

    <!-- Botão de Enviar -->
    <button type="submit" class="btn-save" [disabled]="passwordForm.invalid || loading">
      {{ loading ? 'Alterando...' : 'Alterar Senha' }}
    </button>
  </form>
</div>
