/* Estilo para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: auto;
  th {
    background-color: #3f51b5;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #0056b3;
    white-space: nowrap;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;

    &:nth-child(even) {
      background-color: #f9f9f9;
    }

    &:hover {
      background-color: #f1f1f1;
    }

    @media (max-width: 600px) {
      padding: 8px;
      font-size: 12px;
      white-space: nowrap;
    }
  }
}
ul {
  list-style: none;
}
/* Responsividade para dispositivos móveis */
@media (max-width: 600px) {
  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  th,
  td {
    padding: 8px;
    font-size: 12px;
  }

  th {
    font-size: 14px;
  }
}

/* Estilo para botões */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  @media (max-width: 600px) {
    padding: 4px 8px;
    font-size: 12px;
    width: 80%;
  }
}

/* Estilo para o indicador de carregamento */
.loading {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

/* Estilo para o select */
select {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 180px;
  margin-bottom: 5px;

  @media (max-width: 600px) {
    width: 80%;
  }
}

/* Estilo do rótulo */
label {
  margin-right: 10px;

  @media (max-width: 600px) {
    margin-bottom: 5px;
  }
}

/* Flexbox para a seção de filtros */
.filter-section {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 10px;
  }
}

/* Estilo para campo de CPF e botão de busca */
.form-group {
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    width: 80%;
  }
}

/* Estilo para input com ícone */
.input-with-icon {
  display: flex;
  align-items: center;
  width: 80%;
}

.input-with-icon input {
  width: 80%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;

  @media (max-width: 600px) {
    font-size: 12px;
  }
}

/* Estilo para ícones de botão */
.btn-icon {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 8px;
  font-size: 20px;

  &:hover {
    transform: scale(1.05);
  }
}

.btn-icon mat-icon {
  color: #333;
  font-size: 24px;

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

/* Estilo para botões de ação (editar e bloquear) */
.btn-icon-open,
.btn-icon-block {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 8px;

  &:hover {
    transform: scale(1.05);
  }
}

.btn-icon-open mat-icon,
.btn-icon-block mat-icon {
  color: #333;
  font-size: 20px;
}

/* Adicionando uma transição suave no hover */
.btn-icon:hover mat-icon {
  color: #007bff;
  transition: color 0.2s ease;
}

/* Estilo personalizado para o snackbar de erro */
.snack-error {
  background-color: #f44336;
  color: white;
  font-size: 16px;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

/* Cor verde para cliente ativo */
.active-icon {
  color: green !important;
}

/* Cor vermelha para cliente desativado */
.inactive-icon {
  color: red !important;
}
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.loading-spinner {
  margin-bottom: 10px;
  color: #3f51b5;
  animation: spin 1s linear infinite;
}

/* Animação de rotação */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
