<div class="user-list-container">
  <h1>Lista de Usuários</h1>

  <!-- Spinner centralizado -->
  <div *ngIf="loading" class="loading-container">
    <mat-progress-spinner
      class="loading-spinner"
      [diameter]="50"
      mode="indeterminate">
    </mat-progress-spinner>
    <p>Carregando dados...</p>
  </div>

  <!-- Tabela de Usuários -->
  <table class="table" *ngIf="!loading">
    <thead>
    <tr>
      <th>Usuário (Login)</th>
      <th>Nome do Usuário</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of usersWithEmployee">
      <td>{{ user.login }}</td>
      <td>{{ user.employeeName }}</td>
      <td>
        <!-- Botão com ícone e tooltip -->
        <button (click)="selectUser(user.id)" matTooltip="Alterar a senha deste usuário">
          <mat-icon>lock</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Formulário de Alteração de Senha -->
  <div *ngIf="selectedUser && !loading" class="update-password-form">
    <h3>Alterar Senha para Usuário: {{ selectedUser.employeeName }}</h3>
    <div class="form-group">
      <label for="oldPassword">Senha Atual:</label>
      <input type="password" id="oldPassword" [(ngModel)]="oldPassword">
    </div>
    <div class="form-group">
      <label for="newPassword">Nova Senha:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmar Senha:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword">
    </div>
    <button (click)="updatePassword()">Alterar Senha</button>
  </div>
</div>
