.register-service-container {
    max-width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 18px;
      color: #333;
      margin-bottom: 15px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 5px;
    }

    form {
      display: flex;
      flex-direction: column;

      .form-sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        .form-section {
          flex: 1;
          min-width: 45%;
          margin-bottom: 15px;

          h3 {
            margin-bottom: 10px;
          }

          @media (max-width: 768px) {
            min-width: 100%;
          }
        }
      }

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label {
          color: #333;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
        }

        input,
        select {
          width:80%;
          padding: 10px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          outline: none;
          transition: border-color 0.3s;

          &:focus {
            border-color: #66afe9;
            box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
          }
        }

        .input-with-icon {
          position: relative;
          width: 60%;

          mat-icon {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            color: #666;

            /* Ajuste para telas médias (máximo de 768px) */
            @media (max-width: 768px) {
              right: 30px;
              font-size: 18px;
            }

            /* Ajuste para telas pequenas (máximo de 480px) */
            @media (max-width: 480px) {
              right: 25px;
              font-size: 16px;
            }
          }

          button.btn-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            cursor: pointer;

            mat-icon {
              color: #666;
              font-size: 24px;

              /* Ajuste para telas médias (máximo de 768px) */
              @media (max-width: 768px) {
                font-size: 22px;
              }

              /* Ajuste para telas pequenas (máximo de 480px) */
              @media (max-width: 480px) {
                font-size: 20px;
              }
            }

            &:hover mat-icon {
              color: #007bff;
            }
          }
        }
      }


      .btn-save {
        background-color: #28a745;
        color: white;
        padding: 12px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s;
        margin-top: 20px;

        &:hover {
          background-color: #218838;
        }

        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }

  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .register-service-container {
      max-width: 100%;
      padding: 15px;
    }

    .form-sections {
      flex-direction: column;
      gap: 15px;
    }

    .form-section {
      width: 100%;
    }

    .form-group {
      margin-bottom: 10px;
    }

    input,
    select {
      width: 100%;
      padding: 12px;
      font-size: 14px;
    }
  }

  /* Ajuste para telas muito pequenas (até 480px) */
  @media (max-width: 480px) {
    h3 {
      font-size: 16px;
    }

    input,
    select {
      padding: 10px;
      font-size: 13px;
    }

    .btn-save {
      padding: 10px;
      font-size: 13px;
    }
  }
.global-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

mat-spinner {
  color: #007bff;
}
