.consult-scheduling-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
  .agendamentos-card {
    margin-bottom: 30px;
    background-color: #f5f5f5;

    mat-card-title {
      font-size: 1.5rem;
      text-align: center;
      background-color: #3f51b5;
      color: white;
      padding: 10px;
      border-radius: 5px;
    }

    mat-card-content {
      padding: 20px;
    }

    /* Contêiner responsivo para a tabela */
    .table-responsive {
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;

      th {
        font-weight: bold;
        background-color: #e0e0e0;
        padding: 10px;
        text-align: left;
        white-space: nowrap;
      }

      td {
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
        white-space: nowrap;
        word-wrap: break-word;
      }
    }

    .no-schedulings-message {
      text-align: center;
      font-size: 1.2rem;
      color: #888;
      margin-top: 20px;
    }
  }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .consult-scheduling-container {
    padding: 10px;
  }

  .table-responsive {
    font-size: 0.85rem;
  }

  th,
  td {
    padding: 8px;
    font-size: 0.85rem;
  }

  .agendamentos-card {
    mat-card-content {
      padding: 10px;
    }

    mat-card-title {
      font-size: 1.2rem;
    }
  }
}
